<h1>New Post</h1>

<% if @post.errors.any? %>
  <h3>Oops there were some errors. Please try again:</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <h3><%= f.label :title %>:</h3>
  <%= f.text_field :title %>
  <h3><%= f.label :author %>:</h3>
  <%= f.text_field :author %>
  <h3><%= f.label :body %></h3>
  <%= f.text_area(:body, size: '80x10') %><br><br>
  <button class="btn btn-primary">New Post</button>
<% end %>
