<h1><%= @post.title %> <small>by <%= @post.author %> <p class="smallish"><%= @post.created_at %></p></small></h1>

<h4><%= @post.body %></h4>

<p><button class="btn btn-xs btn-primary"><%= link_to "Edit Post", edit_post_path(@post) %></button></p>
<p><button class="btn btn-xs btn-primary"><%= link_to "Delete", post_path(@post),
                         :data => {:confirm => "You sure?",
                                        :method => "delete"} %></button></p>
