<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="nav">
      <nav class="main-nav">
          <button class="btn btn-success btn-xs"><%= link_to 'Home', "/" %></button>
          <div class="nav-rights">
            <% if current_user %>
            <p class="arial"><strong>Welcome, <%= current_user.email%></strong>!
            <button class="btn btn-info btn-xs"><%= link_to 'New Post', "/posts/new" %></button>
            <button class="btn btn-danger btn-xs"><%= link_to 'Logout', log_out_path(@user) %></button></p>
          </div>
          <% end %>
          <h1>Derailed Blogger</h1>
      </nav>
    </div>
  <h5><%= flash[:alert] %></h5>
  <h5><%= flash[:notice] %></h5>

    <%= yield %>
</div>
</body>
</html>
